<p>Singular view</p>
<p>ID: <%= command.id %> </p>
<p>Command: <%= command.command %> </p>
<button hx-get="/analize/<%= command.id %>" hx-swap="outerHTML">
  Analize command
</button>
<h1>Errors</h1>
<% if (command.errors.size > 0) { %>
  <ul>
    <% command.errors.forEach((value, key)=> { %>
      <li> <%= value %></li>
    <% }) %>
  </ul>
<% } else { %>
  <p>Errors not found</p>
<% } %>
