<div hx-ext="sse" sse-connect="/events" sse-swap="message" hx-target="#list" hx-swap="beforeend">
  Contents of this box will be updated in real time
  with every SSE message received from the chatroom.
</div>
